---
title: Jeff See - Web Developer
---

<div class="welcome">
  <h1>Jeff See - Developer</h1>
  <p class="doc">
    <%= link_to "Read Online Documentation", "http://middlemanapp.com/" %>
  </p><!-- .doc -->
</div><!-- .welcome -->
